/* Variables */

:root {
   --red: #E50914;
   --fullBlack: #000;
   --black: #121212; /* For navbars */
   --darkGray: #1A1A1A; /* For text boxes */
   --gray: #424242; /* For less important buttons */
   --lightGray: #8C8787; /* For navbar text */
   --evenLighterGray: #C4C4C4; /* For buttons and secondary text */
   --white: #fff;
}

/* Predefined styles */

.title {
   font-style: normal;
   font-weight: 700;
   font-size: 1.3rem;
}

.btn {
   border: 0;
   border-radius: .2rem;
   background-color: var(--evenLighterGray);
   font-size: .9rem;
   font-weight: 700;

   padding: 1rem 1.5rem;

   cursor: pointer;

   transition: 500ms ease all;
}

.hidden {
   display: none;
}

.owl-theme .owl-dots {
   display: none;
}

/* Scroll indicator */

.scroll-down.arrows span {
   position: absolute;
   display: inline-block;
   top: 20px;
   height: 25px;
   width: 2px;
   left: calc(50% - 1px);
   animation: animateArrows 1.25s infinite linear;
}

@keyframes animateArrows {
   0%, 40%, 100% {
      opacity: 0;
   }
   75% {
      opacity: 1;
   }
}

.scroll-down.arrows span:first-child {
   top: 35px;
   animation-delay: 0s;
}

.scroll-down.arrows span:nth-child(2) {
   top: 35px;
   animation-delay: .33s;
}

.scroll-down.arrows span:last-child {
   top:  50px;
   animation-delay: .66s;
}

.scroll-down.arrows span::before, .scroll-down.arrows span::after {
   position: absolute;
   content: "";
   width: 3px;
   height: 100%;
   top: 0;
   left: 0;
   background: #fff;
   border-radius: 3px;
}

.scroll-down.arrows span::before {
   transform-origin: bottom;
   transform: rotate(-45deg);
}

.scroll-down.arrows span::after {
   transform-origin: bottom;
   margin-left: -1px;
   transform: rotate(45deg);
}

/* Style */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;

   scroll-behavior: smooth;
}

body {
   background-color: var(--fullBlack);
   font-family: 'Source Sans Pro', sans-serif;
   color: var(--white);
}

header {
   padding: 20px 0;
   background-color: var(--black);
}

header a {
   text-decoration: none;
}

header .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

header .logo {
   color: var(--red);
   font-family: 'Arial Black', Times;
   font-size: 2rem;
   margin-left: 2rem;
}

header .navbar {
   display: flex;
}

header .navbar a{
   color: var(--lightGray);

   text-decoration: none;
   
   text-align: center;

   margin-right: 2rem;

   transition: 250ms ease all;
}

header .navbar a:last-child{
   margin-right: 3em;
}

header .navbar a:hover {
   color: var(--white);
}

header .navbar a i{
   font-size: 1.5em;
}

header #mini-logo {
   display: none;
}

/* Highlighted */

main .highlight {
   background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.6) 90%, #000 100%), url("../img/film00001.png");
   background-size: cover;
   background-position: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   height: 75vh;
}

main .highlight .container {
   width: 60vw;

   margin-left: 3rem;
}

main .highlight .title {
   font-size: 3em;
   line-height: 3rem;
   margin-bottom: 1rem;
}

main .highlight .description {
   margin-bottom: 1.5em;
}

#play {

}

#play i {
   padding-right: 0.5rem;
}

#play .btn-play {
   margin-right: 1.5rem;

}

#play .btn-info {

}

#play .btn {
   background-color: rgba(0, 0, 0, .4);
   color: var(--white);
   
   opacity: 80%;

}

#play .btn:hover {
   background-color: var(--white);
   color: var(--black);

   opacity: 100%;
}

/* Carrousels */

#home {
   position: relative;

   margin-top: 10vh;

   height: 100%;
   width: 100%;
}

#home .darken {
   box-shadow: inset 0 0 20px 15px var(--fullBlack);
   z-index: 50;

   position: absolute;

   pointer-events: none;

   width: 100%;
   height: 100%;
}

#scroll {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);

   top: -15vh;
}

#home .title {
   padding: 1rem 2rem;
}

#home .explorer {
   padding-bottom: 5vh;
}

#film-row {
   margin-bottom: 5vh;
}

#home .explorer .item {
   position: relative;

   top: 0;
   left: 0;

   cursor: pointer;
}

#home .explorer .item .title {
   text-align: center;
   padding: 0 1rem;
}

#home .explorer .owl-carousel img {
   position: relative;

   top: 0;
   left: 0;
}

#home .explorer .item-description {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: left;

   font-size: 1.2rem;

   justify-content: space-between;

   background-color: rgba(0, 0, 0, 0.6);
   opacity: 0;

   padding: 15% 5% 0;
   position: absolute;
   
   left: 0;
   bottom: 0;

   height: 100%;
   width: 100%;

   z-index: 50;

   transition: 500ms ease all;
}


#home .explorer .item:hover .item-description {
   opacity: 1;
}

#home .explorer .item-description .buttons {
   bottom: 5%;
   position: relative;

   justify-self: flex-end;

   display: flex;
   justify-content: space-evenly;
}

.buttons .icon {
   margin: 0 15%;
   transition: color 500ms;
}

.buttons .icon:hover {       
   color: var(--lightGray);
}

.item-description .arrow {
   font-size: 1.5em;
}

/* Media queries */

@media (max-width: 700px) {

   header #full-logo {
      position: absolute;


      display: none;
   }

   header .container {
      left: -5%;

      position: relative;

      justify-content: space-around;
   }

   header .navbar {
      align-items: center;
      justify-content: center;
   }

   header .navbar a {
      font-size: 0.9rem;
   }

   header .navbar a:last-child {
      margin: 0;
   }

   header #mini-logo {
      margin: 0 2vw;
      display: inherit;
   }  

   main .highlight {
      justify-content: center;
      align-items: center;
   }

   main .highlight .title {
      font-size: 2.5rem;
   }

   main .highlight .container {
      margin-left: 0;
      width: 90vw;
      transform: scale(90%);
   }

   #play {
      display: flex;
      flex-wrap: nowrap;
   }

   #play button {
      font-size: 0.8rem;
   }

   #home .explorer .item-description {
      padding: 0.6em 0;
      font-size: 1rem;
   }

   #home .explorer .item-description .title {
      font-size: 1rem;
   }


   #home .item-description p {
      display: none;
   }
}